VITE_FIREBASE_API_KEY=AIzaSyD_qEYXTR9Y6oBkZqbvLFvxNnD8TzMVIwI
VITE_FIREBASE_AUTH_DOMAIN=hafsa-77.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=hafsa-77
VITE_FIREBASE_STORAGE_BUCKET=hafsa-77.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=891711148532
VITE_FIREBASE_APP_ID=1:891711148532:web:759503c65bfcc0073229a1
VITE_API_URL=
